{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">DishFinder</a>

    <form class="d-flex" method='POST'>
        {% csrf_token %}
      <input helper="this will only work for 1 word" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='dish' {% if search_value %}value={{search_value}}{% endif %}>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  </nav>

<div class="container-fluid">
  <table class="table">
    <thead>
      <th scope="col">#</th>
      <th scope="col">Restaurant_id</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Items</th>
      <th scope="col">Full_Details</th>
    </thead>
    <tbody>
      {% for data in res %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{data.restaurant_id }}</td>
        <td>{{data.name}}</td>
        <td>{{data.location}}</td>
        {% if items_that_matched %}
        <td>
        {% for i in items_that_matched %}
          {{i}},
        {% endfor %}
        </td>
        {% else %}
        <td>
            {% for i, j  in data.items.items %}
            {{i}}: {{j}}<br>
            {% endfor %}
        </td>
        {% endif %}
        <td>
          <a href="{% url 'full_details' data.restaurant_id %}" class="btn btn-info" role="button">Full Details</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
